<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.one.afternoon.mapper.ActivityMapper">

    <!--    字段:-->
    <!--    @TableId(type = IdType.AUTO)-->
    <!--    private Long id;-->
    <!--    private String activityname;-->
    <!--    private String password;-->
    <!--    private Integer age;-->
    <!--    private String sex;-->
    <!--    private String role;-->
    <!--    private Integer online;-->
    <!--    @TableField(fill = FieldFill.INSERT) //设置自动生成-->
    <!--    private Date createAt;-->
    <!--    @TableField(fill = FieldFill.INSERT_UPDATE) //设置自动修改/生成-->
    <!--    private Date updateAt;-->

    <!--查询student表中所有的数据-->
    <select id="findAll" resultType="org.one.afternoon.domain.Activity">
        SELECT * FROM activity
    </select>

    <!--模糊复合查询-->
    <select id="queryOne" resultType="org.one.afternoon.domain.Activity" parameterType="org.one.afternoon.domain.Activity">
        SELECT *
        FROM activity
        <where>
            <if test="name!=null and name!=''">
                and name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="location!=null and location!=''">
                and location LIKE CONCAT('%',#{location},'%')
            </if>
        </where>
    </select>

    <!--插入操作-->
    <insert id="insert" parameterType="org.one.afternoon.domain.Activity">
        INSERT INTO activity (id,name,type,content,date,location,status,favorite_count)
        VALUES (#{id},#{name}, #{type},#{content},#{date},#{location},#{status},#{favoriteCount})
    </insert>

    <!--根据id删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM activity WHERE id=#{id}
    </delete>

    <!--更新操作-->
    <update id="update" parameterType="org.one.afternoon.domain.User">
        UPDATE activity SET
        id=#{id},name=#{name},Type=#{type},content=#{content},date=#{date},location=#{location},status=#{status}
        WHERE id=#{id}
    </update>
    <select id="getLastId" resultType="java.lang.Integer">
        SELECT MAX(id) FROM activity
    </select>

</mapper>